@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/BebasNeueBold.eot");
  src: url("../fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeueBold.woff2") format("woff2"), url("../fonts/BebasNeueBold.woff") format("woff"), url("../fonts/BebasNeueBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Medium.eot");
  src: url("../fonts/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff"), url("../fonts/Lato-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'AA Bebas Neue';
  src: url("../fonts/AABebasNeue.eot");
  src: url("../fonts/AABebasNeue.eot?#iefix") format("embedded-opentype"), url("../fonts/AABebasNeue.woff2") format("woff2"), url("../fonts/AABebasNeue.woff") format("woff"), url("../fonts/AABebasNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.eot");
  src: url("../fonts/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  scroll-behavior: smooth;
  color: #ffffff;
  font-size: 62.5%;
  font-family: "AA Bebas Neue", sans-serif; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  width: 100%;
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto; }

form {
  margin: 0; }

body,
ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }
  ul > li {
    display: block;
    padding: 0; }

a,
button {
  display: inline-block;
  text-decoration: none;
  border: 0;
  background: transparent;
  color: inherit;
  outline: 0;
  cursor: pointer; }
  a:focus,
  button:focus {
    outline: 0; }

input {
  display: inline-block;
  outline: 0;
  cursor: text; }

img {
  max-width: 100%;
  height: auto; }

button {
  font-family: "AA Bebas Neue", sans-serif;
  padding: 0; }

#s-banner {
  background-color: #000000;
  position: relative; }

#s-gallery-prev {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #000000), to(#180030));
  background-image: -o-linear-gradient(top, #000000 50%, #180030 100%);
  background-image: linear-gradient(180deg, #000000 50%, #180030 100%); }

#s-footer {
  background-color: #000000; }

.title-primary {
  font-size: 36px;
  line-height: 36px; }

.title-secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: "Lato", sans-serif; }

.link {
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase; }

.header {
  padding: 50px 0 35px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .header-wrap {
    background-color: #000000; }

.current-page {
  position: relative;
  text-align: left;
  padding-right: 20px;
  padding-bottom: 3px; }
  .current-page span {
    position: relative;
    z-index: 10; }
  .current-page::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: -webkit-gradient(linear, left top, right top, from(#490093), to(#A40058));
    background-image: -o-linear-gradient(left, #490093 0%, #A40058 100%);
    background-image: linear-gradient(90deg, #490093 0%, #A40058 100%);
    z-index: 1; }

.menu-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .menu-main > *:not(:last-child) {
    margin-right: 27px; }
  .menu-main .link {
    padding-right: 20px; }

.button_transparent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "AA Bebas Neue", sans-serif;
  padding: 0;
  min-width: 140px; }
  .button_transparent .plus-icon {
    width: 19px;
    height: 19px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: -webkit-gradient(linear, left top, right top, from(#490093), to(#A40058));
    background: -o-linear-gradient(left, #490093 0%, #A40058 100%);
    background: linear-gradient(90deg, #490093 0%, #A40058 100%);
    border-radius: 50%;
    margin-left: 10px;
    font-family: 'Arial'; }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 105px; }
  .banner__image {
    position: absolute;
    top: 31px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: 558px;
    max-height: 558px;
    z-index: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }
    .banner__image.moved {
      -webkit-transform: translateX(-30%);
      -ms-transform: translateX(-30%);
      transform: translateX(-30%); }
  .banner__col {
    padding-top: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    z-index: 1; }
    .banner__col:first-of-type {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; }
    .banner__col:last-of-type {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      margin-left: auto; }
    .banner__col .main {
      margin-bottom: 35px; }
  .banner .title-primary {
    margin-bottom: 5px; }
  .banner .title-secondary {
    width: 171px; }
  .banner .subscribtion {
    display: inline-block;
    padding-top: 93px;
    padding-bottom: 132px;
    margin-left: -98px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    opacity: 0.3;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-bottom: 75px; }
  .banner .socials-vertical {
    margin-top: 10px; }

.about {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  z-index: 10;
  font-family: "Lato", sans-serif;
  width: 100%;
  font-size: 16px;
  line-height: 19px;
  max-width: 492px;
  overflow: hidden; }
  .about p {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: -100%;
    -webkit-transition: .3s ease-in;
    -o-transition: .3s ease-in;
    transition: .3s ease-in;
    opacity: 0; }
  .about.active p {
    left: 0;
    right: 0;
    opacity: 1; }

.prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.price {
  padding: 10px 23px 23px;
  min-height: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 17px; }
  .price:nth-child(odd) {
    background-color: #2F2F2F; }
  .price:nth-child(even) {
    background-color: #000000; }
  .price__title {
    margin-bottom: 22px;
    font-size: 20px;
    line-height: 24px; }
  .price__list {
    color: rgba(255, 255, 255, 0.8); }
    .price__list > *:not(:last-child) {
      margin-bottom: 12px; }
  .price__number {
    margin-bottom: 20px; }

.link {
  min-height: 21px; }

.menu-vertical > *:not(:last-child) {
  margin-bottom: 26px; }

.socials-vertical {
  margin-bottom: auto; }
  .socials-vertical > *:not(:last-child) {
    margin-bottom: 19px; }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  font-family: "Lato", sans-serif;
  position: relative;
  z-index: 2; }
  .contacts__inner {
    width: 422px;
    height: 267px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
    line-height: 22px;
    background-color: #2F2F2F; }
    .contacts__inner > *:not(:last-child) {
      margin-bottom: 15px; }

.socials-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .socials-horizontal > *:not(:last-child) {
    margin-right: 17px; }

.button_gradient_violet {
  padding: 9px 16px;
  min-width: 148px;
  -webkit-box-shadow: 10px 7px 30px rgba(164, 0, 88, 0.3);
  box-shadow: 10px 7px 30px rgba(164, 0, 88, 0.3);
  background-image: -webkit-gradient(linear, left top, right top, from(#490093), to(#A40058));
  background-image: -o-linear-gradient(left, #490093 0%, #A40058 100%);
  background-image: linear-gradient(90deg, #490093 0%, #A40058 100%);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  font-family: "Lato", sans-serif;
  border-radius: 20px; }

.gallery-prev {
  padding: 105px 0 210px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: -42px; }
  .gallery-prev > * {
    width: calc(50% - 13px);
    margin-bottom: 42px; }

.gallery-item {
  position: relative;
  cursor: pointer; }
  .gallery-item .img-gray {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    visibility: visible;
    opacity: 1; }
  .gallery-item .img-colored {
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    visibility: hidden;
    opacity: 0; }
  .gallery-item__content {
    position: absolute;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    visibility: hidden;
    opacity: 0;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear; }
    .gallery-item__content .title-primary {
      font-weight: 400; }
  .gallery-item:hover .img-gray {
    visibility: hidden;
    opacity: 0; }
  .gallery-item:hover .gallery-item__content {
    visibility: visible;
    opacity: 1; }
  .gallery-item:hover .img-colored {
    visibility: visible;
    opacity: 1; }

.natural-gallery {
  margin: -5px;
  overflow: hidden; }
  .natural-gallery_wrap {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #000000), to(#180030));
    background-image: -o-linear-gradient(top, #000000 50%, #180030 100%);
    background-image: linear-gradient(180deg, #000000 50%, #180030 100%);
    padding-top: 20px;
    padding-bottom: 300px; }
  .natural-gallery__item {
    float: left;
    width: 30%;
    margin: 5px;
    cursor: pointer; }
  .natural-gallery img {
    display: block;
    max-width: 100%;
    height: auto; }
  .natural-gallery::after {
    content: '';
    display: block;
    clear: both; }

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 50;
  display: none; }

.gallery-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  left: 0;
  top: 0;
  text-align: center;
  display: none; }
  .gallery-modal::after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: ""; }
  .gallery-modal__item {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    max-height: 90%;
    text-align: center; }
    .gallery-modal__item img {
      height: 100%;
      width: auto;
      max-height: 85vh; }
  .gallery-modal .arrow {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 101;
    width: 34px;
    height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, left top, right top, from(#490093), to(#A40058));
    background-image: -o-linear-gradient(left, #490093 0%, #A40058 100%);
    background-image: linear-gradient(90deg, #490093 0%, #A40058 100%); }
    .gallery-modal .arrow__item {
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      background-color: #000000;
      border-radius: 50%;
      z-index: 102; }
    .gallery-modal .arrow svg {
      position: relative;
      z-index: 103; }
    .gallery-modal .arrow--prev {
      left: -45px; }
    .gallery-modal .arrow--next {
      right: -45px; }

.hidden {
  overflow: hidden; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 78px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.menu-hor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .menu-hor > *:not(:last-child) {
    margin-right: 40px; }

.socials-hor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .socials-hor > *:not(:last-child) {
    margin-right: 20px; }
