*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 16px;
  color: #2D2D2D;
  line-height: 1.2;
  font-family: "Fira Sans", sans-serif; }

body {
  background-color: #f0f0f0; }

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px; }

form {
  margin: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration,
input[type="search" i] {
  -webkit-appearance: none !important; }

body,
ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }
  ul > li {
    display: block;
    padding: 0; }

a,
button {
  display: inline-block;
  text-decoration: none;
  background: transparent;
  color: inherit;
  outline: 0;
  padding: 0; }
  a:focus,
  button:focus {
    outline: 0; }

a,
button,
[type="submit"] {
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border: 0;
  font-family: "Fira Sans", sans-serif; }

input {
  display: inline-block;
  outline: 0;
  padding: 0;
  margin: 0;
  cursor: text;
  font-family: "Fira Sans", sans-serif; }

fieldset {
  border: 0;
  padding: 0;
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

.content {
  overflow: hidden; }

textarea {
  resize: vertical;
  min-height: 2.5em; }

#s-banner {
  margin-top: 46px; }

#s-category {
  padding: 43px 0; }

#s-featured {
  padding: 43px 0; }

#s-header {
  background-color: #FFFFFF; }

.content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.content-category {
  padding-bottom: 240px; }

.text-underline {
  text-decoration: underline; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.title-primary {
  font-size: 40px;
  font-weight: 400;
  font-family: "Fira Sans Condensed", sans-serif; }

.title-secondary {
  font-size: 36px;
  font-weight: 400;
  font-family: "Fira Sans Condensed", sans-serif; }

.title-tertiary {
  font-size: 24px;
  font-weight: 300;
  color: #2D2D2D; }

.title-quaternary {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.05em; }

.mr-5 {
  margin-right: 5px; }

.mr-10 {
  margin-right: 10px; }

.color-blue {
  color: #182851; }

.color-blue-light {
  color: #3C5494; }

.color-pink {
  color: #CC5E7B; }

.color-gray-300 {
  color: #808080; }

.color-gray-335 {
  color: #464646; }

.weight-300 {
  font-weight: 300; }

.weight-500 {
  font-weight: 500; }

.font-18 {
  font-size: 18px; }

.line-through {
  text-decoration: line-through; }

.line-through-pink {
  -webkit-text-decoration-color: #CC5E7B;
  text-decoration-color: #CC5E7B; }

.btn-small {
  padding: 8px 15px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  font-family: "Fira Sans Condensed", sans-serif;
  border-radius: 20px; }

.btn-medium {
  padding: 10px 18px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  letter-spacing: -0.05em;
  color: #f0f0f0;
  font-family: "Fira Sans Condensed", sans-serif; }

.btn-large {
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.05em;
  padding: 12px 30px;
  font-family: "Fira Sans Condensed", sans-serif;
  border-radius: 40px; }

.border-blue {
  border: 2px solid #3C5494; }

.bg-blue-main {
  color: #FFFFFF;
  background-color: #3C5494; }

.bg-pink-main {
  color: #FFFFFF;
  background-color: #CC5E7B; }

.bg-white {
  background-color: #FFFFFF; }

.caret {
  width: 7px;
  height: 7px; }

.caret-inline {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid #FFFFFF;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: none;
  background-color: rgba(0, 0, 0, 0.7); }

.fill-none {
  fill: none; }

.checkbox {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 16px;
  letter-spacing: -0.05em;
  color: #3F3F3F; }
  .checkbox__box {
    border: 1px solid #808080;
    border-radius: 2px;
    display: inline-block;
    width: 13px;
    height: 13px;
    margin-right: 10px; }
  .checkbox input[type="checkbox"],
  .checkbox input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; }
    .checkbox input[type="checkbox"]:checked + .checkbox__box,
    .checkbox input[type="radio"]:checked + .checkbox__box {
      background-image: url(../img/check.svg);
      background-size: 7px 6px;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: #CC5E7B;
      border-color: #CC5E7B; }

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  line-height: 1; }
  .radio input[type="radio"],
  .radio input[type="checkbox"] {
    -webkit-appearance: none; }
    .radio input[type="radio"]:checked + .radio__box,
    .radio input[type="checkbox"]:checked + .radio__box {
      border: 2px solid #CC5E7B; }
      .radio input[type="radio"]:checked + .radio__box::after,
      .radio input[type="checkbox"]:checked + .radio__box::after {
        display: block; }
  .radio__box {
    border: 1px solid #808080;
    border-radius: 7px;
    width: 15px;
    height: 15px;
    margin-right: 14px;
    position: relative;
    -ms-flex-item-align: center;
    align-self: center; }
    .radio__box::after {
      content: '';
      width: 7px;
      height: 7px;
      background-color: #CC5E7B;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-45%, -55%);
      -ms-transform: translate(-45%, -55%);
      transform: translate(-45%, -55%);
      border-radius: 50%;
      display: none; }
  .radio__text {
    font-size: 18px; }
  .radio__price {
    font-weight: 300;
    font-size: 16px; }
    .radio__price.active {
      font-weight: 400;
      font-size: 18px;
      color: #182851; }
  .radio__line {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 5px;
    height: 1px;
    background-color: #808080;
    margin-bottom: 2px; }

.noUi-base {
  height: 4px;
  background-color: #C4C4C4;
  border-radius: 2px; }

.noUi-horizontal .noUi-handle {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #ADADAD;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
  right: -7px; }

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #FFFFFF; }

.prior-1 {
  z-index: 2000; }

.header-top-wrap {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); }

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 0; }

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .top-menu a {
    font-family: "Fira Sans Condensed", sans-serif;
    color: #182851;
    white-space: nowrap; }
  .top-menu > *:not(:last-child) {
    margin-right: 22px; }

.top-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 10px; }
  .top-contacts__phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 20px;
    color: #CC5E7B;
    margin-right: 25px; }
    .top-contacts__phone svg {
      width: 25px;
      height: 25px; }
  .top-contacts__callback {
    text-decoration: underline;
    color: #CC5E7B;
    font-family: "Fira Sans Condensed", sans-serif; }

.top-user {
  color: #3F3F3F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .top-user > *:not(:last-child) {
    margin-right: 18px; }
  .top-user svg {
    width: 26px;
    height: 26px; }
  .top-user button {
    font-size: 18px;
    font-family: "Fira Sans Condensed", sans-serif; }

.middle-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 23px 0; }
  .middle-header .logo {
    min-width: 269px; }

.middle-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .middle-options__item {
    color: #182851; }
    .middle-options__item:not(:last-child) {
      margin-right: 23px; }
    .middle-options__item:hover {
      color: #CC5E7B; }
    .middle-options__item svg {
      width: 40px;
      height: 40px; }

.search-wrap {
  max-width: 688px;
  width: 100%;
  position: relative;
  margin: 0 44px; }
  .search-wrap input {
    width: 100%;
    padding: 14px 68px 14px 28px;
    background-color: transparent;
    border: 2px solid #CC5E7B;
    border-radius: 10px;
    font-weight: 300;
    font-size: 18px;
    color: #575757; }
  .search-wrap__button {
    width: 43px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 25px;
    background-image: url(../img/search.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center; }

.cart {
  position: relative; }
  .cart:hover .cart__badge {
    background-color: #CC5E7B; }
  .cart__badge {
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: translate(35%, 20%);
    -ms-transform: translate(35%, 20%);
    transform: translate(35%, 20%);
    z-index: 1;
    border: 4px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #182851;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 24px;
    line-height: 34px;
    font-family: "Fira Sans Condensed", sans-serif;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s; }

.main-menu-wrap {
  background-color: #182851; }

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .main-menu > li {
    position: relative; }
    .main-menu > li.active > a {
      background-color: #3C5494; }
  .main-menu__link {
    padding: 0 20px;
    height: 51px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFFFFF; }
    .main-menu__link:hover {
      background-color: #3C5494; }
    .main-menu__link .hamb-menu {
      width: 21px;
      height: 20px;
      margin-right: 8px; }
    .main-menu__link--headline {
      white-space: nowrap; }

.menu-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  width: 100%;
  display: none; }
  .menu-dropdown__categories {
    width: 284px;
    border-right: 1px solid #c2c2c2; }
    .menu-dropdown__categories > li.active > a {
      border-left: 2px solid #CC5E7B;
      color: #CC5E7B; }
  .menu-dropdown__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 17px;
    background-color: #FEFEFE;
    position: relative;
    z-index: 10; }
    .menu-dropdown__link:hover {
      color: #CC5E7B; }
      .menu-dropdown__link:hover svg {
        fill: #CC5E7B; }

.menu-category {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 284px;
  width: 1210px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .menu-category__featured {
    width: 100%;
    max-width: 280px; }
    .menu-category__featured .feature-tile {
      -webkit-box-shadow: none;
      box-shadow: none;
      border: 2px solid #CC5E7B;
      border-radius: 0; }
  .menu-category__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding: 14px 14px 14px 20px;
    margin-right: -15px;
    margin-bottom: -28px; }
    .menu-category__content > * {
      width: calc(50% - 15px);
      margin-right: 15px;
      margin-bottom: 28px; }
  .menu-category__title {
    color: #424242;
    margin-bottom: 15px; }
  .menu-category-list > *:not(:last-child) {
    margin-bottom: 5px; }
  .menu-category-list a {
    font-size: 15px;
    line-height: 18px;
    color: #777777; }

.breadcrump {
  margin-top: 23px;
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-family: "Fira Sans Condensed", sans-serif;
  color: #777777; }
  .breadcrump > *:not(:last-child) {
    margin-right: 28px;
    position: relative; }
    .breadcrump > *:not(:last-child)::after {
      content: '\003E';
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      left: calc(100% + 14px); }

.banner {
  color: #FFFFFF;
  text-align: center;
  background-color: #CC5E7B;
  padding: 18px 13px;
  position: relative; }
  .banner__title {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 11px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .banner__text {
    font-size: 24px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }
  .banner::after, .banner::before {
    content: '+';
    color: #CC5E7B;
    font-size: 200px;
    font-weight: 700;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 143px;
    height: 143px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #f0f0f0; }
  .banner::before {
    left: 0;
    border-radius: 0 50% 50% 0; }
  .banner::after {
    right: 0;
    border-radius: 50% 0 0 50%; }

.category-wall .title-secondary {
  margin-bottom: 21px; }

.category-wall__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -34px;
  margin-bottom: -26px; }
  .category-wall__content > * {
    width: calc(100%/4 - 34px);
    margin-right: 34px;
    margin-bottom: 26px; }

.category-tile {
  border: 1px solid #E1E1E1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 26px 13px 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .category-tile__image {
    margin-bottom: 8px; }
  .category-tile .title-tertiary {
    min-height: 71px;
    margin-bottom: 4px;
    text-align: center; }
  .category-tile__number {
    -ms-flex-item-align: start;
    align-self: flex-start;
    color: #808080; }
    .category-tile__number span:not(:last-child) {
      margin-right: 3px; }

.page-category {
  margin-left: 26px;
  width: 100%;
  margin-top: 25px; }

.category-tags {
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 17px 22px 15px;
  margin-bottom: 8px; }
  .category-tags > *:not(:last-child) {
    margin-right: 12px; }

.category-tag {
  padding: 8px 14px;
  color: #3F3F3F;
  border: 1px solid #ADADAD;
  border-radius: 10px;
  background-color: #FFFFFF; }

.option-panel {
  color: #777777;
  margin-bottom: 10px; }
  .option-panel__show-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 14px;
    margin-bottom: 8px; }
  .option-panel__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .option-panel__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .option-panel__left > *:not(:last-child) {
      margin-right: 14px; }
    .option-panel__left .active {
      color: #CC5E7B; }
      .option-panel__left .active .caret-inline {
        border-top: 4px solid #CC5E7B; }
    .option-panel__left .caret-inline {
      border-top: 4px solid #777777;
      margin-left: 7px;
      vertical-align: middle; }
  .option-panel__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .option-panel__tile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 17px; }
    .option-panel__tile > *:not(:last-child) {
      margin-right: 2px; }
    .option-panel__tile svg {
      padding: 3px;
      width: 18px;
      height: 18px; }
    .option-panel__tile .active {
      color: #CC5E7B; }

.category-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -26px;
  margin-bottom: -37px;
  padding-bottom: 44px; }
  .category-products > * {
    width: calc(100%/3 - 26px);
    margin-right: 26px;
    margin-bottom: 37px; }

.category-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .pagination__arrow {
    width: 29px;
    height: 29px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 29px;
    color: #3C5494; }
    .pagination__arrow svg {
      width: 11px;
      height: 20px; }
  .pagination__numbers {
    margin: 0 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .pagination__numbers > *:not(:last-child) {
      margin-right: 5px; }
  .pagination__number {
    width: 37px;
    height: 37px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 24px;
    letter-spacing: 0.05em;
    color: #3C5494;
    line-height: 37px; }
    .pagination__number:hover, .pagination__number:active {
      background-color: #3C5494;
      color: #FFFFFF; }
    .pagination__number.active {
      background-color: #3C5494;
      color: #FFFFFF; }

.category-show-more {
  color: #3C5494;
  font-size: 18px;
  font-family: "Fira Sans Condensed", sans-serif; }

.featured-wall .title-secondary {
  color: #424242;
  margin-bottom: 33px; }

.featured-wall__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -34px;
  margin-bottom: -26px; }
  .featured-wall__content > * {
    width: calc(100%/4 - 34px);
    margin-right: 34px;
    margin-bottom: 26px; }

.featured-wall__show-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 45px; }

.feature-tile {
  padding: 15px 17px;
  border: 1px solid #E1E1E1;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  max-width: 280px; }
  .feature-tile__inner {
    position: relative;
    padding-top: 17px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .feature-tile .stickers-wrap {
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1; }
    .feature-tile .stickers-wrap .sticker {
      padding: 5px 15px;
      border-radius: 2px;
      background-color: #DD3B3B;
      color: #FFFFFF;
      font-family: "Fira Sans Condensed", sans-serif; }
  .feature-tile__actions {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .feature-tile__actions-item {
      color: #182851;
      -webkit-transition: color .1s;
      -o-transition: color .1s;
      transition: color .1s; }
      .feature-tile__actions-item:hover {
        color: #CC5E7B; }
        .feature-tile__actions-item:hover svg {
          fill: #CC5E7B; }
      .feature-tile__actions-item:not(:last-child) {
        margin-bottom: 5px; }
      .feature-tile__actions-item svg {
        width: 33px;
        height: 33px; }
  .feature-tile__image {
    width: 100%;
    position: relative;
    margin-bottom: 6px; }
    .feature-tile__image img {
      display: block;
      margin: 0 auto; }
    .feature-tile__image-panel {
      position: absolute;
      bottom: 10px;
      left: 0;
      -ms-flex-item-align: start;
      align-self: flex-start; }
      .feature-tile__image-panel button {
        background-color: rgba(45, 45, 45, 0.8);
        padding: 4px 10px 4px 6px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        letter-spacing: 0.1em;
        font-family: "Fira Sans Condensed", sans-serif;
        color: #f0f0f0; }
        .feature-tile__image-panel button svg {
          width: 16px;
          height: 16px;
          margin-right: 6px; }
  .feature-tile__state {
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-bottom: 6px; }
  .feature-tile__description {
    font-weight: 300;
    font-size: 17px;
    margin-bottom: 10px; }
  .feature-tile .feature-price {
    margin-bottom: 15px; }
  .feature-tile__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .feature-tile__buttons > *:not(:last-child) {
      margin-right: 8px; }

.feature-price {
  -ms-flex-item-align: start;
  align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .feature-price svg {
    width: 14px;
    height: 20px;
    margin-right: 5px; }
  .feature-price__regular {
    font-weight: 500;
    font-size: 28px;
    line-height: 1;
    margin-right: 18px; }
  .feature-price__old {
    color: #8E8E8E;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-decoration: line-through;
    -webkit-text-decoration-color: #CC5E7B;
    text-decoration-color: #CC5E7B;
    -ms-flex-item-align: start;
    align-self: flex-start; }

#s-about {
  -webkit-box-shadow: 0 -6px 9px rgba(0, 0, 0, 0.1);
  box-shadow: 0 -6px 9px rgba(0, 0, 0, 0.1); }

.about {
  padding-bottom: 16px;
  padding-top: 45px;
  margin-top: 110px; }
  .about__title {
    font-size: 36px;
    letter-spacing: -0.05em;
    color: #808080;
    margin-bottom: 40px;
    font-weight: 500;
    font-family: "Fira Sans", sans-serif; }
  .about p {
    font-size: 22px;
    font-weight: 100;
    letter-spacing: -0.05em;
    color: #575757; }
    .about p:not(:last-child) {
      margin-bottom: 30px; }

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 75px 0;
  border-top: 1px solid #c4c4c4; }
  .features > * {
    max-width: 315px; }
    .features > *:not(:last-child) {
      margin-right: 15px; }

.feature__icon {
  margin-bottom: 10px;
  height: 80px; }
  .feature__icon img {
    display: block;
    margin: 0 auto; }

.feature .title-quaternary {
  margin-bottom: 10px; }

.feature p {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #6B6B6B; }

.callback {
  padding: 80px 0 50px;
  border-top: 1px solid #c4c4c4;
  text-align: center; }
  .callback__title {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 25px;
    letter-spacing: 0.05em;
    color: #424242; }
  .callback p {
    font-size: 16px;
    line-height: 19px; }
  .callback__phone {
    font-weight: 500;
    font-size: 24px;
    padding: 10px 0 15px; }
  .callback .btn-medium {
    margin-top: 7px; }

.product-page {
  background-color: #FFFFFF;
  border: 1px solid #E1E1E1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 24px 50px 156px 27px; }
  .product-page__title {
    font-weight: 400;
    font-size: 36px;
    margin-bottom: 16px; }
  .product-page__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 18px; }
    .product-page__header > *:not(:last-child) {
      margin-right: 35px; }

.product-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 92px; }
  .product-body__center {
    margin-top: 15px;
    margin-right: 30px;
    max-width: 330px;
    width: 100%; }
  .product-body__buttons {
    margin-bottom: 40px; }
    .product-body__buttons > *:not(:last-child) {
      margin-right: 11px; }
    .product-body__buttons button {
      font-size: 20px;
      letter-spacing: 0.05em; }

.product-gallery {
  max-width: 390px;
  width: 100%;
  margin-right: 44px; }
  .product-gallery__main {
    width: 100%;
    position: relative;
    border: 1px solid #F1CDD7;
    line-height: 0;
    margin-bottom: 11px; }
  .product-gallery__scale {
    position: absolute;
    bottom: 7px;
    right: 7px; }
    .product-gallery__scale svg {
      width: 30px;
      height: 30px; }
  .product-gallery__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 30px; }
    .product-gallery__items > *:not(:last-child) {
      margin-right: 11px; }
  .product-gallery__item {
    border: 1px solid #F1CDD7;
    line-height: 0; }

.product-price__header {
  font-size: 28px;
  margin-bottom: 6px; }

.product-price__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 33px; }

.product-price .price-new {
  font-size: 44px;
  margin-right: 12px; }

.product-price .price-old {
  font-size: 24px;
  margin-top: -6px; }

.product-quantity-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 17px; }

.product-quantity {
  font-size: 22px;
  border: 1px solid #A8A8A8;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px; }
  .product-quantity button {
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 20px;
    height: 36px; }
  .product-quantity input {
    border: 0;
    text-align: center;
    font-size: 22px;
    width: 30px;
    font-family: "Fira Sans Condensed", sans-serif; }

.product-in-stock {
  font-size: 15px; }

.product-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  .product-actions > *:not(:last-child) {
    margin-bottom: 15px; }
  .product-actions button {
    font-size: 18px;
    font-family: "Fira Sans", sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .product-actions svg {
    width: 30px;
    height: 30px; }

.product__info {
  margin-bottom: 28px; }
  .product__info > *:not(:last-child) {
    margin-bottom: 10px; }

.product-all__title {
  font-size: 34px;
  line-height: 41px; }

.product-all__text {
  font-size: 15px; }

.product-about__tabs {
  margin-left: -27px; }

.product-about__tab {
  padding: 14px 18px;
  font-size: 18px;
  font-family: "Fira Sans Condensed", sans-serif; }
  .product-about__tab.active {
    border-bottom: 4px solid #182851; }

.product-about__tab-content {
  padding: 56px 0 70px; }

.product-about__tab-header {
  font-size: 30px;
  margin-bottom: 12px; }

.product-footer {
  padding-left: 24px; }

.product-qualities {
  margin-bottom: 57px; }
  .product-qualities__header {
    font-size: 30px;
    margin-bottom: 23px; }
  .product-qualities__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .product-qualities__content > *:not(:last-child) {
    margin-bottom: 15px; }
  .product-qualities__text {
    white-space: nowrap;
    color: #464646;
    font-size: 18px;
    line-height: 0.8; }
  .product-qualities__line {
    background-color: #808080;
    height: 1px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0 5px; }

.product-subscribtion {
  font-size: 15px; }

.checkout {
  background-color: #FFFFFF;
  padding-bottom: 33px; }
  .checkout .title-secondary {
    margin-bottom: 38px;
    padding: 24px 27px 0; }

.checkout-cart {
  padding-bottom: 55px; }
  .checkout-cart__trow {
    border: 1px solid #C4C4C4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .checkout-cart__trow:not(:last-child) {
      border-bottom: none; }
  .checkout-cart__th, .checkout-cart__td {
    width: 100%; }
  .checkout-cart__th {
    padding: 8px;
    font-size: 18px;
    color: #182851; }
  .checkout-cart__trow .thumb {
    max-width: 180px;
    width: 100%;
    padding-left: 24px; }
  .checkout-cart__trow .name {
    max-width: 430px; }
  .checkout-cart__trow .model {
    max-width: 170px; }
  .checkout-cart__trow .quantity {
    max-width: 125px; }
  .checkout-cart__trow .price {
    max-width: 125px; }
  .checkout-cart__trow .total {
    max-width: 120px; }
  .checkout-cart__trow .delete {
    max-width: 60px; }
  .checkout-cart__td.thumb img {
    width: 59px; }
  .checkout-cart__td.delete svg {
    width: 20px;
    height: 20px; }
  .checkout-cart__tbody .checkout-cart__trow {
    padding: 5px 0; }
  .checkout-cart__tbody .name {
    font-size: 19px;
    color: #464646; }
  .checkout-cart__tbody .model {
    font-weight: 300;
    font-size: 18px;
    color: #2D2D2D; }
  .checkout-cart__tbody .quantity {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .checkout-cart__tbody .price {
    font-size: 19px; }
  .checkout-cart__tbody .total {
    font-weight: 500;
    font-size: 20px;
    color: #2D2D2D; }

.checkout-quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #A8A8A8;
  border-radius: 10px; }
  .checkout-quantity button {
    width: 25px;
    height: 30px;
    font-size: 22px; }
  .checkout-quantity input {
    width: 20px;
    border: 0;
    line-height: 30px;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
    font-family: "Fira Sans Condensed", sans-serif; }

.checkout-total {
  margin-top: 75px;
  max-width: 510px;
  margin-left: auto;
  margin-right: 78px; }
  .checkout-total__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 35px;
    line-height: 0.8; }
  .checkout-total__text {
    font-size: 22px; }
  .checkout-total__price {
    font-size: 26px; }
  .checkout-total__line {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #808080;
    height: 1px;
    margin: 0 5px; }
  .checkout-total__promo {
    font-size: 21px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 35px; }
    .checkout-total__promo input {
      border: 1px solid #A8A8A8;
      border-radius: 10px;
      line-height: 30px;
      padding: 0 10px;
      margin: 0 15px;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
  .checkout-total__amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    line-height: 0.6; }
    .checkout-total__amount-text {
      font-size: 26px; }
    .checkout-total__amount-number {
      font-weight: 500;
      font-size: 36px; }

.checkout-credentials {
  padding: 21px 76px 50px 27px;
  border-top: 1px solid #808080; }
  .checkout-credentials__title {
    font-size: 28px;
    margin-bottom: 38px; }

.checkout-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .checkout-field:not(:last-child) {
    margin-bottom: 15px; }
  .checkout-field__name {
    max-width: 333px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 25px;
    font-size: 18px; }
  .checkout-field__content .checkbox {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
    .checkout-field__content .checkbox:not(:last-child) {
      margin-right: 18px; }
    .checkout-field__content .checkbox__box {
      margin-right: 5px; }
  .checkout-field__input {
    width: 100%; }
    .checkout-field__input input {
      border: 1px solid #A8A8A8;
      border-radius: 5px;
      width: 100%;
      line-height: 32px;
      padding: 0 12px; }

.checkout-radios {
  max-width: 472px;
  padding-left: 18px; }
  .checkout-radios > *:not(:last-child) {
    margin-bottom: 18px; }

.comment {
  margin-bottom: 84px; }
  .comment .checkout-credentials__title {
    margin-bottom: 18px; }
  .comment .checkout-credentials__textarea {
    padding-left: 18px; }
    .comment .checkout-credentials__textarea textarea {
      width: 100%;
      height: 116px;
      border: 1px solid #A8A8A8;
      border-radius: 5px; }

.checkout__submit {
  margin-right: 76px;
  max-width: 895px;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .checkout__submit .checkbox {
    margin-right: 18px; }
  .checkout__submit .checkbox__box {
    margin-right: 8px; }
  .checkout__submit .checkbox__text {
    font-size: 13px;
    font-family: "Fira Sans Condensed", sans-serif; }

#s-subscribe {
  background-color: #182851; }

.subscribe {
  padding: 45px 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  max-width: 954px;
  margin: 0 auto; }
  .subscribe__title {
    font-size: 32px;
    line-height: 38px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    max-width: 310px;
    margin-right: 15px;
    margin-top: -15px; }
  .subscribe__input {
    max-width: 445px;
    width: 100%;
    margin-right: 30px; }
    .subscribe__input input {
      width: 100%;
      padding: 15px 25px;
      border: 2px solid #808080;
      border-radius: 10px;
      background-color: transparent;
      font-size: 18px;
      color: #FFFFFF; }
      .subscribe__input input::-webkit-input-placeholder {
        color: #FFFFFF; }
      .subscribe__input input:-ms-input-placeholder {
        color: #FFFFFF; }
      .subscribe__input input::-ms-input-placeholder {
        color: #FFFFFF; }
      .subscribe__input input::placeholder {
        color: #FFFFFF; }
    .subscribe__input-description {
      font-size: 13px;
      line-height: 16px;
      color: #808080;
      margin-top: 10px; }
  .subscribe .btn-medium {
    margin-top: 6px; }

.similar {
  margin: 67px 0; }
  .similar .title-secondary {
    margin-bottom: 30px;
    font-family: "Fira Sans", sans-serif; }
  .similar__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: -34px;
    margin-right: -34px; }
    .similar__content > * {
      width: calc(100%/4 - 34px);
      margin-right: 34px;
      margin-bottom: 34px; }

.filter {
  max-width: 285px;
  width: 100%; }
  .filter__title {
    font-size: 22px;
    font-family: "Fira Sans Condensed", sans-serif;
    color: #182851;
    margin-bottom: 20px; }
  .filter__submit {
    padding: 20px 22px; }
    .filter__submit > *:not(:last-child) {
      margin-right: 14px; }
  .filter .btn-transparent {
    color: #8E8E8E;
    font-size: 15px; }

.filter-drops-wrap {
  padding-top: 12px;
  border: 1px solid #E1E1E1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #FFFFFF; }

.filter-drop {
  border-bottom: 3px solid #FFFFFF; }
  .filter-drop__header {
    background-color: #182851;
    padding: 8px 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer; }
    .filter-drop__header .caret {
      -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
      transform: rotate(135deg); }
  .filter-drop__content {
    padding: 10px 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .filter-drop__content > *:not(:last-child) {
      margin-bottom: 7px; }
    .filter-drop__content-wrap {
      display: none; }
  .filter-drop__show-more {
    padding: 6px 0 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 14px;
    letter-spacing: -0.05em;
    font-family: "Fira Sans", sans-serif; }
    .filter-drop__show-more .active svg {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }
    .filter-drop__show-more svg {
      width: 8px;
      height: 8px; }

.filter-price {
  padding: 10px 22px 18px; }
  .filter-price__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    line-height: 22px;
    margin-bottom: 15px; }
    .filter-price__row input {
      width: 80px;
      height: 23px;
      border: 1px solid #A6A6A6;
      border-radius: 2px;
      padding: 0 5px; }
    .filter-price__row > *:not(:last-child) {
      margin-right: 5px; }

.footer {
  padding: 105px 0 200px; }

.footer-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 auto 94px;
  max-width: 985px; }

.footer-menu {
  max-width: 158px;
  font-size: 14px;
  letter-spacing: -0.05em;
  line-height: 17px; }
  .footer-menu a {
    font-family: "Fira Sans", sans-serif; }
  .footer-menu > *:not(:last-child) {
    margin-bottom: 28px; }

.footer-shipping {
  max-width: 985px;
  margin: 0 auto 178px;
  font-family: "Fira Sans", sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.05em;
  color: #777777; }

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 88px; }
  .footer-links > *:not(:last-child) {
    margin-right: 80px; }

.footer-links__socials > *:not(:last-child) {
  margin-right: 55px; }

.footer-info {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: -0.05em;
  font-family: "Fira Sans", sans-serif; }
